@page "/"

<center>
    <form>
        <NavLink class="nav-link" href="Areas/Identity/Pages/Account/Login">
            <span class="oi oi-plus" aria-hidden="true"></span> Login
        </NavLink>
    </form>
</center>


